<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>shield_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {97, 96}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{97, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {97, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {95, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{95, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 0}, {95, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {93, 94}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{93, 94}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 0}, {93, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {95, 94}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{95, 94}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 0}, {95, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {96, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{96, 96}</string>
			<key>spriteSourceSize</key>
			<string>{102, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 0}, {96, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {95, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{95, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 98}, {95, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {95, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{95, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 98}, {95, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shield_08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 9}, {95, 96}}</string>
			<key>spriteOffset</key>
			<string>{-2, 3}</string>
			<key>spriteSize</key>
			<string>{95, 96}</string>
			<key>spriteSourceSize</key>
			<string>{103, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 98}, {95, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>shield_0</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>shield_0</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>