<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>drillPlane0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 0}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 0}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 59}</string>
			<key>spriteSourceSize</key>
			<string>{70, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 0}, {70, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 0}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 0}, {68, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 0}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 61}</string>
			<key>spriteSourceSize</key>
			<string>{67, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 0}, {67, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 0}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 60}</string>
			<key>spriteSourceSize</key>
			<string>{61, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 0}, {61, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 0}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 62}</string>
			<key>spriteSourceSize</key>
			<string>{55, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{576, 0}, {55, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 0}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 0}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 61}</string>
			<key>spriteSourceSize</key>
			<string>{42, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{740, 0}, {42, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{784, 0}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 60}</string>
			<key>spriteSourceSize</key>
			<string>{55, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{835, 0}, {55, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 0}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 62}</string>
			<key>spriteSourceSize</key>
			<string>{61, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{951, 0}, {61, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 64}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 61}</string>
			<key>spriteSourceSize</key>
			<string>{67, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 64}, {67, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 64}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 64}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 57}</string>
			<key>spriteSourceSize</key>
			<string>{70, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 64}, {70, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 64}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 61}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{417, 64}, {70, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{489, 64}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 59}</string>
			<key>spriteSourceSize</key>
			<string>{70, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{561, 64}, {70, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 64}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 56}</string>
			<key>spriteSourceSize</key>
			<string>{70, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 64}, {70, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 64}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 56}</string>
			<key>spriteSourceSize</key>
			<string>{70, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 64}, {70, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane38.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 64}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane39.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 57}</string>
			<key>spriteSourceSize</key>
			<string>{70, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 127}, {70, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 127}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane40.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{137, 127}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane41.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 127}, {70, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane42.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 127}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane43.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 61}</string>
			<key>spriteSourceSize</key>
			<string>{70, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 127}, {70, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane44.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 127}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane45.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{68, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 127}, {68, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane46.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 127}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane47.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 60}</string>
			<key>spriteSourceSize</key>
			<string>{67, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 127}, {67, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane48.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{569, 127}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane49.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 62}</string>
			<key>spriteSourceSize</key>
			<string>{61, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{599, 127}, {61, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 54}</string>
			<key>spriteSourceSize</key>
			<string>{70, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 127}, {70, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane50.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{734, 127}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane51.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 61}</string>
			<key>spriteSourceSize</key>
			<string>{55, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{764, 127}, {55, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane52.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{821, 127}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane53.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 60}</string>
			<key>spriteSourceSize</key>
			<string>{42, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{859, 127}, {42, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane54.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{903, 127}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane55.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 62}</string>
			<key>spriteSourceSize</key>
			<string>{55, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{954, 127}, {55, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane56.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 191}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane57.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 61}</string>
			<key>spriteSourceSize</key>
			<string>{61, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59, 191}, {61, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane58.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 191}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane59.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 60}</string>
			<key>spriteSourceSize</key>
			<string>{67, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 191}, {67, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 191}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane60.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 191}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane61.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 62}</string>
			<key>spriteSourceSize</key>
			<string>{68, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 191}, {68, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane62.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 191}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane63.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 191}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane64.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 191}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane65.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 191}, {70, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane66.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{742, 191}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane67.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{811, 191}, {70, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane68.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{883, 191}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane69.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 55}</string>
			<key>spriteSourceSize</key>
			<string>{70, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 191}, {70, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 58}</string>
			<key>spriteSourceSize</key>
			<string>{70, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 255}, {70, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane70.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 255}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane71.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 56}</string>
			<key>spriteSourceSize</key>
			<string>{70, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 255}, {70, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane72.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 255}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane73.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 255}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane74.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 255}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane75.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{70, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 255}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane76.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 255}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane77.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{68, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 255}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane78.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 255}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane79.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 62}</string>
			<key>spriteSourceSize</key>
			<string>{67, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{566, 255}, {67, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{635, 255}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane80.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 255}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane81.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 61}</string>
			<key>spriteSourceSize</key>
			<string>{61, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 255}, {61, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane82.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 57}</string>
			<key>spriteSourceSize</key>
			<string>{28, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{779, 255}, {28, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane83.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 60}</string>
			<key>spriteSourceSize</key>
			<string>{55, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{809, 255}, {55, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane84.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 56}</string>
			<key>spriteSourceSize</key>
			<string>{36, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{866, 255}, {36, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane85.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 62}</string>
			<key>spriteSourceSize</key>
			<string>{42, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{904, 255}, {42, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane86.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{948, 255}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane87.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 61}</string>
			<key>spriteSourceSize</key>
			<string>{55, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 319}, {55, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane88.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{57, 319}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane89.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {61, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{61, 60}</string>
			<key>spriteSourceSize</key>
			<string>{61, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 319}, {61, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 59}</string>
			<key>spriteSourceSize</key>
			<string>{70, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 319}, {70, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane90.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 50}</string>
			<key>spriteSourceSize</key>
			<string>{63, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{251, 319}, {63, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane91.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 62}</string>
			<key>spriteSourceSize</key>
			<string>{67, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 319}, {67, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane92.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {67, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{67, 48}</string>
			<key>spriteSourceSize</key>
			<string>{67, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 319}, {67, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane93.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 61}</string>
			<key>spriteSourceSize</key>
			<string>{68, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 319}, {68, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane94.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 46}</string>
			<key>spriteSourceSize</key>
			<string>{70, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 319}, {70, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>drillPlane95.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 59}</string>
			<key>spriteSourceSize</key>
			<string>{70, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 319}, {70, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>drillPlane</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>drillPlane</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>