<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>explodeB1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 63}</string>
			<key>spriteSourceSize</key>
			<string>{60, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 63}</string>
			<key>spriteSourceSize</key>
			<string>{76, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 0}, {76, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 63}</string>
			<key>spriteSourceSize</key>
			<string>{77, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 0}, {77, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 64}</string>
			<key>spriteSourceSize</key>
			<string>{79, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{219, 0}, {79, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 67}</string>
			<key>spriteSourceSize</key>
			<string>{75, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 0}, {75, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 0}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 67}</string>
			<key>spriteSourceSize</key>
			<string>{73, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 69}, {73, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 68}</string>
			<key>spriteSourceSize</key>
			<string>{72, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{75, 69}, {72, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 69}</string>
			<key>spriteSourceSize</key>
			<string>{70, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{149, 69}, {70, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 72}</string>
			<key>spriteSourceSize</key>
			<string>{70, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 69}, {70, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 72}</string>
			<key>spriteSourceSize</key>
			<string>{69, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{293, 69}, {69, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 63}</string>
			<key>spriteSourceSize</key>
			<string>{72, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 69}, {72, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 72}</string>
			<key>spriteSourceSize</key>
			<string>{66, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 69}, {66, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 73}</string>
			<key>spriteSourceSize</key>
			<string>{66, 73}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 143}, {66, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 71}</string>
			<key>spriteSourceSize</key>
			<string>{64, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 143}, {64, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{63, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 143}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 70}</string>
			<key>spriteSourceSize</key>
			<string>{64, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 143}, {64, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 67}</string>
			<key>spriteSourceSize</key>
			<string>{63, 67}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 143}, {63, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 64}</string>
			<key>spriteSourceSize</key>
			<string>{60, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 143}, {60, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {60, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{60, 62}</string>
			<key>spriteSourceSize</key>
			<string>{60, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 143}, {60, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 61}</string>
			<key>spriteSourceSize</key>
			<string>{52, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 143}, {52, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 60}</string>
			<key>spriteSourceSize</key>
			<string>{50, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 218}, {50, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 63}</string>
			<key>spriteSourceSize</key>
			<string>{79, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 218}, {79, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 57}</string>
			<key>spriteSourceSize</key>
			<string>{46, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 218}, {46, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 56}</string>
			<key>spriteSourceSize</key>
			<string>{45, 56}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 218}, {45, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB32.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 52}</string>
			<key>spriteSourceSize</key>
			<string>{45, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 218}, {45, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB33.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 49}</string>
			<key>spriteSourceSize</key>
			<string>{44, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 218}, {44, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB34.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {41, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{41, 41}</string>
			<key>spriteSourceSize</key>
			<string>{41, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 218}, {41, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB35.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 40}</string>
			<key>spriteSourceSize</key>
			<string>{39, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 218}, {39, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB36.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{38, 27}</string>
			<key>spriteSourceSize</key>
			<string>{38, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{405, 218}, {38, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB37.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 20}</string>
			<key>spriteSourceSize</key>
			<string>{37, 20}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 218}, {37, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 63}</string>
			<key>spriteSourceSize</key>
			<string>{79, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 283}, {79, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {77, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{77, 53}</string>
			<key>spriteSourceSize</key>
			<string>{77, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 283}, {77, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 55}</string>
			<key>spriteSourceSize</key>
			<string>{75, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 283}, {75, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 57}</string>
			<key>spriteSourceSize</key>
			<string>{76, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{237, 283}, {76, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 61}</string>
			<key>spriteSourceSize</key>
			<string>{76, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 283}, {76, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>explodeB9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 63}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 63}</string>
			<key>spriteSourceSize</key>
			<string>{76, 63}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{393, 283}, {76, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>explodeB</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>explodeB</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>