<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>expl0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 89}, {52, 46}}</string>
			<key>spriteOffset</key>
			<string>{4, -40}</string>
			<key>spriteSize</key>
			<string>{52, 46}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {52, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 76}, {74, 58}}</string>
			<key>spriteOffset</key>
			<string>{1, -33}</string>
			<key>spriteSize</key>
			<string>{74, 58}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 0}, {74, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {106, 132}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{106, 132}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 0}, {106, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {108, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{108, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 0}, {108, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {110, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{110, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 0}, {110, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {112, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{112, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{460, 0}, {112, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {108, 128}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{108, 128}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 0}, {108, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 8}, {106, 126}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{106, 126}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 0}, {106, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {104, 128}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{104, 128}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 0}, {104, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {106, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{106, 122}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 0}, {106, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {104, 122}}</string>
			<key>spriteOffset</key>
			<string>{4, 4}</string>
			<key>spriteSize</key>
			<string>{104, 122}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 138}, {104, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {106, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{106, 122}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 138}, {106, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 59}, {80, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -25}</string>
			<key>spriteSize</key>
			<string>{80, 76}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 138}, {80, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {98, 124}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{98, 124}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 138}, {98, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {74, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, 27}</string>
			<key>spriteSize</key>
			<string>{74, 82}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 138}, {74, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 3}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{-2, 39}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 138}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {72, 60}}</string>
			<key>spriteOffset</key>
			<string>{-2, 40}</string>
			<key>spriteSize</key>
			<string>{72, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{544, 138}, {72, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {68, 48}}</string>
			<key>spriteOffset</key>
			<string>{-1, 48}</string>
			<key>spriteSize</key>
			<string>{68, 48}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 138}, {68, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-2, 49}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 138}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 1}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, 49}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{756, 138}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 51}, {86, 86}}</string>
			<key>spriteOffset</key>
			<string>{2, -22}</string>
			<key>spriteSize</key>
			<string>{86, 86}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{830, 138}, {86, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 33}, {88, 104}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{88, 104}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{918, 138}, {88, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 28}, {96, 110}}</string>
			<key>spriteOffset</key>
			<string>{3, -11}</string>
			<key>spriteSize</key>
			<string>{96, 110}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 264}, {96, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 26}, {100, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, -10}</string>
			<key>spriteSize</key>
			<string>{100, 112}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 264}, {100, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 23}, {104, 116}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{104, 116}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 264}, {104, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 18}, {108, 122}}</string>
			<key>spriteOffset</key>
			<string>{2, -7}</string>
			<key>spriteSize</key>
			<string>{108, 122}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 264}, {108, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>expl9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {108, 130}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{108, 130}</string>
			<key>spriteSourceSize</key>
			<string>{112, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 264}, {108, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>expl</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>expl</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>