<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>littleJellyFish0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 59}</string>
			<key>spriteSourceSize</key>
			<string>{52, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {52, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 59}</string>
			<key>spriteSourceSize</key>
			<string>{50, 59}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 0}, {50, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 51}</string>
			<key>spriteSourceSize</key>
			<string>{46, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 0}, {46, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 0}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 0}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 0}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 49}</string>
			<key>spriteSourceSize</key>
			<string>{46, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 0}, {46, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 47}</string>
			<key>spriteSourceSize</key>
			<string>{48, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 0}, {48, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 49}</string>
			<key>spriteSourceSize</key>
			<string>{46, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 0}, {46, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 51}</string>
			<key>spriteSourceSize</key>
			<string>{46, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 0}, {46, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 61}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 50}</string>
			<key>spriteSourceSize</key>
			<string>{46, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 61}, {46, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 58}</string>
			<key>spriteSourceSize</key>
			<string>{52, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 61}, {52, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 51}</string>
			<key>spriteSourceSize</key>
			<string>{47, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 61}, {47, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{46, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 61}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{46, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 61}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 52}</string>
			<key>spriteSourceSize</key>
			<string>{46, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{295, 61}, {46, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 50}</string>
			<key>spriteSourceSize</key>
			<string>{47, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343, 61}, {47, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 47}</string>
			<key>spriteSourceSize</key>
			<string>{48, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 61}, {48, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 49}</string>
			<key>spriteSourceSize</key>
			<string>{48, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 61}, {48, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 51}</string>
			<key>spriteSourceSize</key>
			<string>{47, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 121}, {47, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 51}</string>
			<key>spriteSourceSize</key>
			<string>{46, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 121}, {46, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 55}</string>
			<key>spriteSourceSize</key>
			<string>{46, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{97, 121}, {46, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{52, 54}</string>
			<key>spriteSourceSize</key>
			<string>{52, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{145, 121}, {52, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 57}</string>
			<key>spriteSourceSize</key>
			<string>{46, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 121}, {46, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {47, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 58}</string>
			<key>spriteSourceSize</key>
			<string>{47, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 121}, {47, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 58}</string>
			<key>spriteSourceSize</key>
			<string>{48, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 121}, {48, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {49, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 54}</string>
			<key>spriteSourceSize</key>
			<string>{49, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{346, 121}, {49, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 58}</string>
			<key>spriteSourceSize</key>
			<string>{46, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 121}, {46, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 58}</string>
			<key>spriteSourceSize</key>
			<string>{46, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{445, 121}, {46, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 55}</string>
			<key>spriteSourceSize</key>
			<string>{46, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 181}, {46, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>littleJellyFish9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 53}</string>
			<key>spriteSourceSize</key>
			<string>{46, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 181}, {46, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>littleJellyFish</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>littleJellyFish</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>